body{
font-family: Arial;
margin:0;
background-color:#e6f2f7;
}

header{
background: linear-gradient(to right,#6db3d4,#a7d7e7);
text-align:center;
padding:20px;
}

nav{
background:#444;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
}

.container{
text-align:center;
padding:40px;
}

.login-box{
width:300px;
margin:20px auto;
padding:20px;
border:1px solid #ccc;
background:white;
}

input{
width:90%;
padding:8px;
}

button{
background:#4CAF50;
color:white;
padding:8px 20px;
border:none;
}